html
  head
    title Beam.io : Destroy your friends!
    link(rel="stylesheet", href="/css/styles.css")
    script(type="text/javascript", src="/js/phaser.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body
    div#game
    script(type="text/javascript", src="/js/main.js")
