html
  head
    title Beam.io : Destroy your friends!
    link(rel="stylesheet", href="/css/styles.css")
    script(type="text/javascript", src="/js/phaser.min.js")
    script(type="text/javascript", src="/js/Ship.js")
    script(type="text/javascript", src="/js/Message.js")
  body
    div#banner
      h1 Beam.io
      em Survive as long as you can!
    div#game
      div#nameChoose
        h1 Choose a name
        input(type="text", placeholder="My epic name")
        br
        button(type="button") Fight!
    script(type="text/javascript", src="/js/main.js")
